<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686345084154-gbpku466s4no89b76vavt79eoghb368r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686345084154-gbpku466s4no89b76vavt79eoghb368r</string>
	<key>API_KEY</key>
	<string>AIzaSyD3eV5yAQCWXbKQfwT-2ITTLMRxt556P_A</string>
	<key>GCM_SENDER_ID</key>
	<string>686345084154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anmik.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ea428</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ea428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686345084154:ios:5c672836eac2b74637bd43</string>
</dict>
</plist>